body {
    text-align: center;
    margin: 0px;
    background-color: white;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/accd3f04-700a-440b-8a16-b6601f358893/d9limq8-319f128c-97cd-4f3a-9c97-dc832d279ec1.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYWNjZDNmMDQtNzAwYS00NDBiLThhMTYtYjY2MDFmMzU4ODkzXC9kOWxpbXE4LTMxOWYxMjhjLTk3Y2QtNGYzYS05Yzk3LWRjODMyZDI3OWVjMS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.C6zrEGaJCVOIQX7z-VTTReoKpkNETj-ASX74ShfzguA");
    background-size: cover;
    background-repeat: no-repeat;
    
}

p {
    font-family: 'Bebas Neue', cursive;
}

#home-page-links {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-around;
}

#quick-link {
    margin-top: 20px;
    align-self: flex-start;
    color: white;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

hr {
    width: 100%;
    height: 1px;
    background: black;
}

#rankings-image, #rankings {
    z-index: 0;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 285.33px;
}

#rankings:hover {
    transform: scale(1.1);
}

#week1image, #week1 {
    z-index: 0;
    width: 500px;
    height: 285.33px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#week1:hover {
    transform: scale(1.1);
}

#two47 {
    z-index: 0;
    width: 500px;
    height: 285.33px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
}

#two47:hover {
    transform: scale(1.1);

}

#two47-image {
    width: 200px;
    height: 200px;
    justify-self: center;
    position: relative;
    top: 40px;
}

#week1header {
    position: absolute;
}

#team-info1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#team-info2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.close-button {
    position: absolute;
    transition-duration: 0.4s;
    color: black;
    background-color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    left: 96%;
    font-size: 18px
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}



#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin: 5px;
 
}

h2 {
    color: black;
    font-family: 'Bebas Neue', cursive;
    margin: 5px;
 
}

#modal {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
	position: fixed;
	top: 5%;
    left: 2.5%;
	height: 50%;
	width: 95%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

.team {
    align-self: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

#search-bar {
    margin:0px;

}

.container2 {
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
    width: 100%;
  
}
.container3 {
    /* display: flex;
    flex-direction: column; */
    color: white;
    width: 100%;
    align-self: center;
}


ul {
    list-style: none;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

.logo {
    align-self: center;
    width: 250px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section1, .section2, .section3, .section4{
    display: flex;
    justify-content: center;
}


input[type=text]{
    padding: 12px 10px;
    font-size: 16px;
    position: relative;
    top: -8px;
    right: 40px;
    border-radius: 5px;
}

label[for=year]{
    font-size: 16px;
    font-family: Arial;
    position: relative;
    top: -7px;
}

#year {
    padding: 10px 3px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    top: -7px;
}

button[type=submit] {
    transition-duration: 0.4s;
    color: white;
    background-color: #485167;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    position: relative;
    top: 0px;
    left: -42px;

  }
  


button {
    transition-duration: 0.4s;
    color: white;
    background-color: #485167;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
  }
  


ion-icon[name="search-outline"] {
    z-index: 0;
    margin: 0px;
    font-size: 30px;

}

ion-icon[name="american-football-outline"] {
    margin: 0px;
    font-size: 30px;

}

ion-icon[name="logo-github"] {
    z-index: 0;
    margin: 0px;
    font-size: 50px;

}

ion-icon[name="logo-linkedin"] {
    z-index: 0;
    margin: 0px;
    font-size: 50px;

}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view-matchup {
    align-self: flex-start;
}



a {
    text-decoration: none;
    color: white;
}

#container22 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {

    .container1 {
        flex-direction: column;
    }
    #modal-textbox {
        height: 300px;
        width: 300px;
        margin-left: 10px;
    }

    input[type=text]{
        width: 100px;
        font-size: 13px;
        right: 0px;
        
    }

    button[type=submit] {
        left: 0px;
    
      }

   #title {
    font-size: 18px;
   }

   .logo {
       width: 150px;

   }

   .container2 {
       height: 300px;
       justify-content: space-evenly;
   }

   #container22 {
       height: 300px;
       justify-content: space-evenly;
   }

   ion-icon[name="american-football-outline"] {
    font-size: 20px;

    }

    ion-icon[name="logo-github"] {
    z-index: 0;
    margin: 0px;
    font-size: 30px;

    }

    ion-icon[name="logo-linkedin"] {
    z-index: 0;
    margin: 0px;
    font-size: 30px;

    }

    .game {

        flex-direction: column;
        justify-content: center;
   
    }

    .close-button{
        left: 85%;
    }

    #home-page-links {
        flex-direction: column;
        height: 100%;
        align-items: center;
        align-content: space-around;

    }

    #rankings-image, #rankings {
        
        width: 350px;
        height: 200px;
        
    }
    
    #week1image, #week1 {
        width: 350px;
        height: 200px;
        
    }
    
    #two47 {
        width: 350px;
        height: 200px;
        
    }
    #two47-image {
        width: auto;
        height: auto;
        justify-self: center;
        position: relative;
        top: 0px;
    }

}

@media (max-width: 1500px) {
    #home-page-links {
        flex-direction: column;
        height: 100%;
        align-items: center;
        align-content: space-around;

    }

    
}