body {
    text-align: center;
    margin: 0px;
    background-color: grey;
}

#team-info1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#team-info2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}



#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	font-family: Arial;
}

#modal-footer {
	text-align: right;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0px;
    background-color: rgba(0,0,0,0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
 
}

.team {
    align-self: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-bar {
    margin:0px;

}

.container2 {
    /* display: flex;
    flex-direction: column; */
    color: white;
    align-self: center;
    width: 100%;
  
}
.container3 {
    /* display: flex;
    flex-direction: column; */
    color: white;
    width: 100%;
    align-self: center;
}


ul {
    list-style: none;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

.logo {
    align-self: center;
    width: 250px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section1, .section2, .section3{
    display: flex;
    justify-content: center;
}


input[type=text]{
    padding: 12px 10px;
    font-size: 16px;
    position: relative;
    top: -8px;
    right: 40px;
    border-radius: 5px;
}

label[for=year]{
    font-size: 16px;
    font-family: Arial;
    position: relative;
    top: -7px;
}

#year {
    padding: 10px 3px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    top: -7px;
}

button[type=submit] {
    transition-duration: 0.4s;
    color: white;
    background-color: #485167;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    position: relative;
    top: 0px;
    left: -42px;

  }
  
button[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

#twofourseven-sports {
    transition-duration: 0.4s;
    color: white;
    background-color: #485167;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
  }
  
#twofourseven-sports:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

ion-icon[name="search-outline"] {
    z-index: 0;
    margin: 0px;
    font-size: 30px;

}

ion-icon[name="american-football-outline"] {
    margin: 0px;
    font-size: 30px;

}

ion-icon[name="logo-github"] {
    z-index: 0;
    margin: 0px;
    font-size: 50px;

}

ion-icon[name="logo-linkedin"] {
    z-index: 0;
    margin: 0px;
    font-size: 50px;

}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 700px) {

    .container1 {
        flex-direction: column;
    }
    #modal-textbox {
        height: 350px;
        width: 350px;
    }

    input[type=text]{
        width: 100px;
        font-size: 13px;
        right: 0px;
        
    }

    button[type=submit] {
        left: 0px;
    
      }

   #title {
    font-size: 18px;
   }

   #logo {
       width: 200px;
   }

   ion-icon[name="american-football-outline"] {
    font-size: 20px;

    }

    ion-icon[name="logo-github"] {
    z-index: 0;
    margin: 0px;
    font-size: 30px;

    }

    ion-icon[name="logo-linkedin"] {
    z-index: 0;
    margin: 0px;
    font-size: 30px;

    }

}